@import "../../Assets/styles/color";

nav {
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: darken($dark, 5%);
  color: $white;
  height: 65px;
  border-bottom: 1px solid $secondary;

  display: flex;
  align-items: center;
  justify-content: space-around;

  ul {

    li {
      text-decoration: none;

      a {

      }

      &:active {
        a {
          background-color: $red;
          color: $dark;
        }
      }
    }
  }

}