@import "../../Assets/styles/color";


.container__about {
  min-height: calc(100vh - 64px);
  background-color: $white;
  box-shadow: inset 0 0 200px $dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  padding: 100px 300px 500px 100px;

  h1 {
    color: $dark;
    position: fixed;
    top: 400px;
    left: -180px;
    border-bottom: 4px solid $dark;
    padding: 0 50px 25px 50px;
    font-size: 100px;
    transform: rotate(-90deg);
    opacity: 0.5;
    margin: 0;
  }

  section {
    max-width: 75%;

    p {
      text-align: left;
      margin: 20px 0;
      letter-spacing: 2px;
      word-spacing: 2px;
      font-size: 20px;

      &::first-letter {
        font-size: 30px;
        color: $red;
      }
      &:last-child {
        padding-bottom: 40px;
      }

      em {
        font-size: 18px;
      }

      span {
        color: crimson;
        font-weight: 700;
        cursor: pointer;
      }
    }
    ul {
      list-style-type: none;
      text-align: left;
      font-size: 20px;
      letter-spacing: 1.8px;
      li {
        padding-left: 20px;
      }
    }

  }

  h2 {
    color: $dark;
    margin-bottom: 20px;
    border-bottom: 2px solid $red;
    padding-bottom: 20px;
    opacity: 0.9;
    font-size: calc( 2.8rem + 1vmin );
  }

  h3 {
    margin-top: 10px !important;
    color: var(--red);
    margin-bottom: 20px;
    opacity: 0.9;
    border-bottom: 2px solid;
    padding-bottom: 20px;
    text-transform: uppercase;
  }

}

.container__aside {
  z-index: 1;
  span {
    position: fixed;
    top: 100px;
    z-index: 1;
    font-size: 20px;
    background-color: $dark;
    color: $white;
    padding: 10px 20px;
    border-radius: 25px 0 0 25px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: -1px 0 2px $dark;
    transition: right 0.5 ease-in-out;
  }

  .aside__content {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 350px;
    margin-top: 64px;
    height: calc(100% - 64px);
    padding: 20px 40px 40px 40px;
    border: 1px solid $red;
    background-color: $dark;
    box-shadow: -2px 0 10px $dark;

    p {
      color: $white;
      letter-spacing: 1.8px;
      margin: 20px 0;
    }

    ul {
      text-align: left;
      padding-left: 0px;
      letter-spacing: 2px;
      list-style-type: none;
      li {
        color: lighten($red, 30%);
        font-weight: 700;
        &::before {
          content: "— ";
        }
      }
    }

    .btn {
      padding: 5px 10px;
      margin-top: 10px;
      background-color: $red;
      color: $white;
      text-transform: uppercase;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }

}