/**
 * ============================================================================ * Variables
 * ============================================================================
 */
$titre: 'Cormorant', serif;
$texte: 'Work Sans', sans-serif;

/**
* ============================================================================ * THEME - All colors with white as     > 7.00 === Pass Pass Pass Pass
*         All colors with secondary   >= 7.13 === Pass Pass Pass Pass
* ============================================================================
*/
$white:       #ffffff;
$secondary:   #feff6b;
// $dark:        #242424; // Aa 14.58 secondary - Aa 14.81 white
// $brown:       #7d4728; // Aa 7.13 secondary - Aa 7.24 white
// $green:       #2a5e1b; // Aa 7.36 secondary - Aa 7.47 white
// $pink:        #a30053; // Aa 7.45 secondary - Aa 7.57 white
// $purple:      #7a3092; // Aa 7.50 secondary - Aa 7.61 white
// $blue:        #253d73; // Aa 10.02 secondary - Aa 10.18 white
// $red:         #a90001; // Aa 7.43 secondary - Aa 7.55 white

$dark:        #1f1f1f; // Aa 14.58 secondary - Aa 14.81 white
$brown:       #4a2a17; // Aa 7.13 secondary - Aa 7.24 white
$green:       #1d4113; // Aa 7.36 secondary - Aa 7.47 white
$pink:        #7d0040; // Aa 7.45 secondary - Aa 7.57 white
$purple:      #3e144c; // Aa 7.50 secondary - Aa 7.61 white
$blue:        #172647; // Aa 10.02 secondary - Aa 10.18 white
$red:         #810001; // Aa 7.43 secondary - Aa 7.55 white